body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background: linear-gradient(180deg, #fff7e9, #fff2e1);
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    padding-top: 40px;
}

.container {
    text-align: center;
}

.logo {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
}

.title {
    font-size: 30px;
    font-weight: 700;
    margin-top: 15px;
    color: #5a3e23;
}

.subtitle {
    font-size: 16px;
    color: #6f6b63;
    margin-top: 5px;
    margin-bottom: 25px;
}

.card {
    margin: 0 auto;
    width: 460px;
    background: #ffffff;
    padding: 45px 45px;
    border-radius: 18px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.10);
    text-align: left;
}

.card h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}

.desc {
    text-align: center;
    color: #7a746b;
    font-size: 15px;
    margin-bottom: 28px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 600;
    color: #4b463f;
}

.input-group {
    position: relative;
    margin-bottom: 22px;
}

.input-group input {
    width: 100%;
    height: 44px;
    padding: 0 42px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    background: #fafafa;
    font-size: 15px;
    box-sizing: border-box;
}

.icon {
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    opacity: .55;
    font-size: 18px;
}

.toggle-pass {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: .55;
    font-size: 18px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 14px;
}

.checkbox input {
    width: 17px;
    height: 17px;
}

.btn {
    width: 100%;
    padding: 14px;
    background: #0b0e19;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 5px;
}

.back {
    display: block;
    text-align: center;
    margin-top: 25px;
    color: #6d6255;
    text-decoration: none;
    font-size: 15px;
}

.back:hover {
    text-decoration: underline;
}
